body {
	background-color: #1e2225;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
	color: #fff;
	background: #1e2225;
}

::selection {
	color: #fff;
	background: #1e2225;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 .9375em;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.header_page {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-justify-content: space-between;
  justify-content:         space-between;

  -webkit-align-items: center;
  align-items:         center;
}

/**
 * Estilos header del sitio
 */
.header_page {
	box-sizing: border-box;
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	padding-top: 1.5em;
	position: relative;
	z-index: 5;
}

.logo_header {
	margin: 0 auto;
}

.logo {
	background-image: url(../img/logo_starterdaily.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	height: 25px;
	margin: 0;
	vertical-align: middle;
	width: 223px;
}

.logo span {
	display: inline-block;
	text-indent: -9999px;
}

.cannes_header {
	display: none;
}

.cannes_header img {
	display: block;
	height: auto;
	max-width: 100%;
}

/**
 * Estilos background de intro
 */
.background_intro {
	background-image: url(../img/background_starterdaily.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 130%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.overlay_intro {
	background-color: rgba(30,33,36,0.6);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(30,33,36,0.6)), color-stop(100%, #131517));
	background-image: -webkit-linear-gradient(rgba(30,33,36,0.6) 40%, #131517);
	background-image: linear-gradient(rgba(30,33,36,0.6) 40%, #131517);
	height: 130%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

/**
 * Estilos del contenido de intro
 */
.content_intro {
	position: relative;
	text-align: center;
	z-index: 3;
}

.pitch {
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 2em;
}

.content_intro p {
	font-size: .95em;
}

/**
 * Estilos del formulario para suscribirse
 */
.mc-field-group input {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
  -webkit-border-radius:0;
	border-radius: 0;
	box-sizing: border-box;
	display: block;
	border: 0;
	font-size: .9em;
	height: 3em;
	padding: 0 1.25em;
	-webkit-transition: all .5s linear;
	-moz-transition: 		all .5s linear;
	-ms-transition: 		all .5s linear;
	-o-transition: 			all .5s linear;
	transition: 				all .5s linear;
	width: 100%;
}

input[type="email"] {
	color: #555a5d;
}

input[type="email"]:focus {
	-webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 0 10px 0 rgba(0,0,0,.15);
}

input[type="submit"] {
	background-color: #6bbe98;
	text-transform: uppercase;
}

input[type="submit"]:hover {
	background-color: #21a86a;
}

.validation {
	color: #fff;
	display: block;
	font-size: 0.875em;
	font-weight: 600;
	margin-top: 0.5em;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.validation .bad {
	color: #e5615f;
}

.validation .good {
	color: #6bbe98;
}

#mc_embed_signup {
	margin-bottom: 5em;
}

.screens {
	position: relative;
}

.iphone {
	background-image: url('../img/iphone_starterdaily.png');
	height: 544px;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	top: 0px;
	width: 309px;
}

/**
 * Media queries
 */
@media only screen and (min-width: 500px) {
	.header_page {
		margin-bottom: 3em;
	}

	.logo_header {
		margin: 0;
	}

	.pitch {
		font-size: 2.25em;
	}

	.content_intro p {
		font-size: 1.1em;
	}

	.mc-field-group input {
		display: inline-block;
		width: auto;
	}

	input[type="email"] {
		border-radius: 3px 0 0 3px;
		min-width: 250px;
	}

	input[type="submit"] {
		border-radius: 0 3px 3px 0;
		margin-left: -5px;
		padding: 0 3em;
	}

	.cannes_header {
		display: block;
	}

	.background_intro,
	.overlay_intro {
		height: 90%;
	}

	.macbook {
		background-image: url('../img/macbook_starterdaily.png');
		height:610px;
		left: 50%;
		margin-left: -400px;
		position:absolute;
		width:1009px;
	}

	.iphone {
		margin-left: 100px;
		top: 40px;
	}
}

@media only screen and (min-width: 980px) {
	.pitch {
		padding: 0 4em;
	}
}
